<!-- extend base layout -->
{% extends "base.html" %}
{% block head %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}" />
{% endblock %}
{% block content %}

<div class="container-fluid">
	<div class="centered">
		
		<div class="centered_form">
			<form class="form-credentials" action="" method="post" name="login">
		    {{form.hidden_tag()}}
				<h2 class="form-signin-heading">Please Sign in</h2>
				Username: {{form.username}}<br />
                Password: {{form.password}}
				<hr>
				<button class="btn-btn-large btn-primary" type="submit" value="Sign In" formaction={{ url_for('login') }}> Sign In</button>
			</form>
		</div>
	</div>		
</div>

{% endblock %}
